/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #f38181;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: #ff647f;
}

button {
    padding: 15px 20px;
    border: none;
    background-color: #ff647f;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4b69;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffe2e2;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li.completed {
    text-decoration: line-through;
    background-color: #d1e8e4;
    color: #888;
}

li:hover {
    background-color: #ffd1d1;
}

.delete-btn {
    background-color: #ff647f;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #ff4b69;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

footer p {
    opacity: 0.8;
}
